.container {
	display: flex;
	flex-direction: column;
}

.content {
	font-weight: normal;
	font-size: 0.875rem;
}

.img { 
    border-radius: 0.3125rem;
    max-height:31.25rem;
    max-width: 100%;
}
