@import 'assets/styles/variable.scss';

body {
	font-family: 'Space Grotesk', sans-serif;
	margin: 0;
	width: 100%;
	min-height: 100%;
	background: $mainColorDark;
	color: #ffffff;
}

html {
	min-height: 100%;
	position: relative;
}
/* -------------------------------------------------------------------------- */
/*                                  reset css                                 */
/* -------------------------------------------------------------------------- */
a,
a:focus,
a:hover,
a:visited,
a:link,
a:active {
	/* margin: 0;
	padding: 0; */
	border: 0;
	font-size: 100%;
	color: inherit;
	text-decoration: inherit;
}

ul {
	list-style: none;
}

